h11
gunicorn
fastapi
uvicorn
numpy
python-decouple
pydantic
# yolo
ultralytics
torch
torchvision
numpy
pandas
pyyaml
pillow
psutil
requests
scipy
ultralytics-thop
opencv-python-headless
python-multipart
# AWS S3 integration
boto3